.homepage-container {
  display: flex;
  flex-flow: column nowrap;
  max-width: 1120px;
  margin: auto;

  z-index: 10;
}

.homepage-h1 {
  font-size: 3rem;
}


.image-resizing {
  width: 360px;
  height: 200px;
}

.block {
  display: inline-flex;
  width: fit-content;
}

.homepage-leftside {
  width: 520px;
  margin: 0 80px 0 0;
}

.homepage-rightside {
  width: 520px;
}

.homepage-points-of-interest {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px 0px;

}

.option-card {
  flex-flow: column wrap;
  width: 33.33333%;
  margin: auto;
}

.option-card-button {
  margin: 8px 0 0 0;
  color: #008294;
  font-weight: 900;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}


.blob-red {
  position: absolute;
  z-index: -4;
  left: 2%;
  top: 75%;
  vertical-align: middle;
  max-width: 100%;
  fill-opacity: 0.01;
  transform: unset;
  visibility: inherit;
  overflow: hidden;

}

.blob-yellow {
  z-index: -3;
  position: absolute;
  max-width: 75%;
  left: 15%;
  top: 15%;
  transform: unset;

}

.blob-green {
  z-index: -2;
  position: absolute;
  top: 0;
  right: 0;
  left: unset;
  transform: unset;
}

.option-card-navigation {
  flex-flow: column wrap;
  width: 23.33333%;
  padding: 0 24px;

}


.option-card-navigation-button {
  margin: 0 0 8px 0;
  color: #008294;
  font-weight: 900;
  font-size: 16px;
}

.homepage-center-information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 50%;
  margin: auto;

}
