.footer-container {
  display: flex;
  box-sizing: border-box;

  background-color: rgb(33, 33, 33);
  color: #F6F7F8;

  width: 100%;
  /* padding: 0.25rem; */
  padding-top: 16px;
  height: 300px;
  margin-top: 0;
}

.footer-heavy-text {
  font-size: 16px;
  padding-left: 0;
  font-weight: 900;
  color: #f6f7f8dc;
}


.footer-content {
  width: 100%;
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-bottom: 16px;
  padding-right: 16px;


  font-family: Helvetica, Arial, sans-serif;
}

.create-button-box {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 1.5rem;
  border: 0;
  border-color: rgb(117, 117, 117);
  border-bottom-width: 1px;
  border-style: solid;
  margin: 8px 0 0 0;
}

.get-started-button {
  display: inline-flex;
  cursor: pointer;
  color: #fff;
  fill: #fff;
  background-color: transparent;
  border-color: #fff;
  padding: 8px 12px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-width: 2px;
  border-radius: 0.375rem;
  margin-left: 1rem;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: 600;
  font-family: Helvetica, Arial, sans-serif;
  align-self: center;
  line-height: 2.5rem;
  border: 2px solid;

  /* padding-left: 16px;
  list-style: none;
  height: 70%;
  width: fit-content;
  font-size: 16px; */

}

.bottom-menu {
  display: flex;
  font-size: 14px;
  height: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  /* padding-left: 1rem; */
  /* padding-right: 1rem; */
}

.footer-menu-copyright {
  display: flex;
  /* margin-top: 0.25rem; */
  margin-bottom: 0;
  border: 0;
  font-size: 14px;
  padding-left: 0;
  font-weight: 900;
  color: #f6f7f8dc;
}

.footer-menu-links {
  cursor: pointer;
  color: #C5C4C4;
  text-decoration: none;

}

.footer-item-padding {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  margin-bottom: 4px;
  height: 75%;
  align-items: left;
  justify-content: left;
}
